<app-nav-header></app-nav-header>
<div class="add-container">
    <div class="form" *ngIf="docente"> 
        <div class="input-container">
            <label for="id">ID:</label>
            <input class="input" name="id" id="id" type="number" [placeholder]="docente.id" disabled="">
        </div>
        <div class="input-container">
            <label for="nombre">Nombre:</label>
            <input class="input" name="nombre" id="nombre" type="text" *ngIf="!editMode" [placeholder]="docente.nombre" [(ngModel)]="docente.nombre" disabled>
            <input class="input" name="nombre" id="nombre" type="text" *ngIf="editMode" [placeholder]="docente.nombre" [(ngModel)]="docente.nombre" autofocus>
        </div>
        <div class="input-container">
            <label for="fNac">Legajo:</label>
            <input class="input" name="fNac" id="fNac" type="number" *ngIf="!editMode" [placeholder]="docente.legajo" [(ngModel)]="docente.legajo" disabled>
            <input class="input" name="fNac" id="fNac" type="number" *ngIf="editMode" [placeholder]="docente.legajo" [(ngModel)]="docente.legajo">
        </div>
        <div class="actions-container">
          <!--
          <a href="" class="item-link" id="delete-item" (click)="eliminarAlumno(alumno.id); $event.preventDefault()">Eliminar</a>
          -->
          <a href="#" id="put-item" class="item-link" (click)="toggleEditMode($event)">
            {{ editMode ? 'Guardar' : 'Modificar' }}
          </a>
        </div>
    </div>
    <div class="item-container volver"><a routerLink="/docentes" class="item-link" id="back-item">Volver</a></div>
</div>

<!--<div class="body-container">
  <div *ngIf="docente" class="info-grid">
    <div class="label">ID:</div>
    <div class="value">{{ docente.id }}</div>
  
    <div class="label">Nombre:</div>
    <div class="value" *ngIf="!editMode">{{ docente.nombre }}</div>
    <div *ngIf="editMode" class="value">
      <input [(ngModel)]="docente.nombre" placeholder="Nombre" />
    </div>
  
    <div class="label">Legajo:</div>
    <div class="value" *ngIf="!editMode">{{ docente.legajo }}</div>
    <div *ngIf="editMode" class="value">
      <input [(ngModel)]="docente.legajo" placeholder="Legajo" type="number" />
    </div>
  </div>
    
    <div class="actions-container">
      <!--
      <a href="" class="item-link" id="delete-item" (click)="eliminarAlumno(alumno.id); $event.preventDefault()">Eliminar</a>
      -->
      <!--<a href="#" id="put-item" class="item-link" (click)="toggleEditMode($event)">
        {{ editMode ? 'Guardar' : 'Modificar' }}
      </a>
    </div>
    <div class="item-container volver"><a routerLink="/docentes" class="item-link" id="back-item">Volver</a></div>
</div>-->