.container1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    border: 1.5px solid rgba(255, 255, 255, 0.699);
    border-radius: 5px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container label {
    font-size: 17px;
}

.input {
    color: black;
    font-family: "Manrope", sans-serif;
    font-size: 15px;
    width: 130px;
    height: 22px;
    border-radius: 3px;
    margin: 0 5px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.search-container button {
    color: rgb(25, 25, 25);
    background-color: rgb(53, 147, 254);
    border: none;
    border-radius: 3px;
    font-size: 15px;
    padding: 3px 5px;
}

.search-container button:hover {
    background-color: rgb(79, 161, 255);
    transition: .15s ease-in;
    cursor: pointer;
}

.table-container {
    width: 860px;
    max-height: 300px; /* Establece la altura máxima que deseas */
    overflow-y: auto; /* Habilita el scroll vertical */
}

table {
    color: rgb(25, 25, 25);
    border: 2px solid black;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Fuerza a todas las columnas a ocupar el mismo ancho */
}

.head-columns{
    padding: 20px 10px;
    background-color: rgb(53, 147, 254);
    font-weight: bold;
    border-bottom: 2px solid black;
    position: sticky;
    top: 0;
    z-index: 1; 
}

tbody tr {
    background-color: rgb(200, 200, 200);
}

tbody tr:hover {
    background-color: rgb(232, 232, 232);
}

.body-columns {
    padding: 15px 10px;
    text-align: center;
    border-bottom: 1.5px solid black;
    max-width: 150px; /* Ajusta el ancho máximo según tus necesidades */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.body-columns a {
    margin: 0 10px;
}

.body-columns i {
    color: black;
}

.body-columns .blue:hover {
    color: rgb(22, 130, 253);
    transition: .15s ease-in;
}

.body-columns .red:hover {
    color: rgb(195, 21, 21);
}

.no-data {
    margin: 10px;
    font-size: 26px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-container {
    width: 200px;
    height: 40px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid rgb(22, 130, 253);
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-container:hover {
    border-color: rgb(79, 161, 255);
}

.add {
    width: 500px;
    margin-top: 15px;
}

.volver {
    margin-top: 10px;
}

.item-link {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: rgb(25, 25, 25);
    border-radius: 6px;
    font-weight: bold;
    font-size: 18px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-item {
    background-color: rgb(22, 130, 253);
}

#add-item:hover {
    background-color: rgb(79, 161, 255);
    border-color: rgb(79, 161, 255);
    transition: .15s ease-in;
}

#back-item {
    background-color: rgb(200, 200, 200);
}

#back-item:hover {
    background-color: rgb(232, 232, 232);
    transition: .15s ease-in;
}

.alumnos-container {
    margin-top: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    border: 1.5px solid rgba(255, 255, 255, 0.699);
    border-radius: 3px;
    padding: 5px;
    width: auto;
}

.alumnos-container ul {
    list-style: none;
    margin: 10px 15px;
    padding: 0;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}